<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Twitter Sentiment Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul id="menu" class="navbar-nav mr-auto">
            <li class="nav-item {{ activeIndex }}">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item {{ activeRegole }}">
              <a class="nav-link" href="/operatori">Search Operators</a>
            </li>
          </ul>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" id="dark" value="dark">Dark theme</button>
            <button type="button" class="btn btn-light" id="light" value="light">Light theme</button>
          </div>
        </div>
      </nav>
</header>