 <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Search operators</h1>
      <p class="lead">Are you curious about new ways to find Tweets? Build you search query with the operators in the table below.</p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Operator</th>
            <th scope="col">Find Tweets...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">watching now</th>
            <td>containing both “watching” and “now”. This is the default operator.</td>
          </tr>
          <tr>
            <th scope="row">"happy hour"</th>
            <td>containing the exact phrase “happy hour”.</td>
          </tr>
          <tr>
            <th scope="row">love OR hate</th>
            <td>containing either “love” or “hate” (or both).</td>
          </tr>
          <tr>
            <th scope="row">beer -root</th>
            <td>containing “beer” but not “root”.</td>
          </tr>
          <tr>
            <th scope="row">#haiku</th>
            <td>containing the hashtag “haiku”.</td>
          </tr>
          <tr>
            <th scope="row">from:interior</th>
            <td>sent from Twitter account “interior”.</td>
          </tr>
          <tr>
            <th scope="row">list:NASA/astronauts-in-space-now</th>
            <td>sent from a Twitter account in the NASA list astronauts-in-space-now.</td>
          </tr>
          <tr>
            <th scope="row">to:NASA</th>
            <td>a Tweet authored in reply to Twitter account “NASA”.</td>
          </tr>
          <tr>
            <th scope="row">@NASA</th>
            <td>mentioning Twitter account “NASA”.</td>
          </tr>
          <tr>
            <th scope="row">politics filter:safe</th>
            <td>containing “politics” with Tweets marked as potentially sensitive removed.</td>
          </tr>
          <tr>
            <th scope="row">puppy filter:media</th>
            <td>containing “puppy” and an image or video.</td>
          </tr>
          <tr>
            <th scope="row">puppy -filter:retweets</th>
            <td>containing “puppy”, filtering out retweets.</td>
          </tr>
          <tr>
            <th scope="row">puppy filter:native_video</th>
            <td>containing “puppy” and an uploaded video, Amplify video, Periscope, or Vine.</td>
          </tr>
          <tr>
            <th scope="row">puppy filter:periscope</th>
            <td>containing “puppy” and a Periscope video URL.</td>
          </tr>
          <tr>
            <th scope="row">puppy filter:vine</th>
            <td>containing “puppy” and a Vine.</td>
          </tr>
          <tr>
            <th scope="row">puppy filter:images</th>
            <td>containing “puppy” and links identified as photos, including third parties such as Instagram.</td>
          </tr>
          <tr>
            <th scope="row">puppy filter:twimg</th>
            <td>containing “puppy” and a pic.twitter.com link representing one or more photos.</td>
          </tr>
          <tr>
            <th scope="row">hilarious filter:links</th>
            <td>containing “hilarious” and linking to URL.</td>
          </tr>
          <tr>
            <th scope="row">puppy url:amazon</th>
            <td>containing “puppy” and a URL with the word “amazon” anywhere within it.</td>
          </tr>
          <tr>
            <th scope="row">superhero since:2015-12-21</th>
            <td>containing “superhero” and sent since date “2015-12-21” (year-month-day).</td>
          </tr>
          <tr>
            <th scope="row">puppy until:2015-12-21</th>
            <td>containing “puppy” and sent before the date “2015-12-21”.</td>
          </tr>
          <tr>
            <th scope="row">movie -scary :)</th>
            <td>containing “movie”, but not “scary”, and with a positive attitude.</td>
          </tr>
          <tr>
            <th scope="row">flight :(</th>
            <td>containing “flight” and with a negative attitude.</td>
          </tr>
          <tr>
            <th scope="row">traffic ?</th>
            <td>containing “traffic” and asking a question.</td>
          </tr>
        </tbody>
      </table>


    </main>